@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}


/* Hamburger */
.hamburger{
  position: relative;
  width: 37px;
  height: 37px;
  transition: all 0.3s;
}
.top,.middle,.bottom{
  position: absolute; 
  top: 0;
  left: 0;
  width: 35px;
  height: 4px;
  transition: all 0.75s;
  transform: rotate(0);
}

.middle {
  transform: translateY(10px);
}

.bottom {
  transform: translateY(20px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0);
}

.open .top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.open .middle{
  display: none;
}



.slider{
  position: relative;
  /* height: 60vh; */
  /* width: 950px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowR{
  position: absolute;
  top: 50%;
  right: 32px;
  color: #66b539;
  font-size:3em;
  user-select:none;
  z-index: 10;
  cursor: pointer;
}
.arrowL{
  position: absolute;
  top: 50%;
  left: 32px;
  color: #66b539;
  font-size:3em;
  user-select:none;
  z-index: 10;
  cursor: pointer;
}

.slide{
  opacity: 0;
  transition-duration: 5s ease;
}
.slide.active{
  position: relative;
  opacity: 1;
  transition-duration: 5s ease;
  transform: scale(1.1);
}

@keyframes animate {
  from {
    left: 0%;
  }
  to{
    right: 100%;
  }
  
}